@import "tailwindcss";

@theme {
    --color-background: oklch(1 0 0);
    --color-foreground:  oklch(0.1776 0 0);
}

@layer theme {
    @media (prefers-color-scheme: dark) {
        :root {
            --color-background: oklch(0.1776 0 0);
            --color-foreground: oklch(1 0 0);
        }
    }
}