---
import Layout from '../layouts/Layout.astro';
import Channels from '../assets/programs.json';
import Channel from '../components/Channel.astro';
---

<Layout>
	<main class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16">
		<h1 class="text-3xl font-bold mb-4">Guide TV</h1>

		<div>
			{Channels.map(channel => (
				<Channel channel={channel} />
			))}
		</div>
	</main>
</Layout>
