---
import type { Channel as ChannelProps } from '../tv/domain/Channel';
import Program from './Program.astro';

interface Props {
  channel: ChannelProps;
}

const { id, name, icon, programs } = Astro.props.channel;
---

<div class="grid grid-cols-[60px_1fr] gap-4 mb-4">
    <div class="flex flex-col items-center py-3">
        <object data={icon} class="w-[26px] object-contain mb-4">
            <img src="https://placehold.co/40x40?text=None" alt="default channel">
        </object>
        <small class="text-center text-xs text-gray-500 font-light">{name}</small>
    </div>
    <div class="grid auto-cols-[270px] grid-flow-col gap-3 overflow-x-auto snap-x snap-mandatory">
        {programs?.map((program) => {
            return <Program program={program} count={program.length} />
        })}
    </div>
</div>