---
interface Props {
  title: string;
}

const title = Astro.props.title;
---

<details class="cursor-pointer open:[&_summary::after]:content-['▾']">
  <summary
    class="text-sm select-none list-none relative after:absolute after:content-['◂'] after:ml-1.5"
    >{title}</summary
  >
  <div class="mt-0.5 text-sm">
    <slot />
  </div>
</details>
