---
import { getProgress } from '../utils.js';

interface Props {
  start: Date | string;
  stop: Date | string;
}

const progress = getProgress(Astro.props.start, Astro.props.stop, new Date().getTime());
---

{progress > 0 && progress < 100 ?
    <div class="w-full bg-bg-neutral-muted rounded h-1 mt-1.5">
        <div
            class="h-1 bg-fg-accent rounded transition-all duration-500"
            style={`width: ${progress}%`}
        ></div>
    </div>
    : null
}